---
apiVersion: v1
kind: Secret
metadata:
  name: authelia-secret
  namespace: authelia-system
type: Opaque
stringData:
  session-secret: "PUT_YOUR_LONG_RANDOM_STRING_HERE"
  identity_validation.reset_password.jwt.hmac.key: "PUT_YOUR_LONG_RANDOM_STRING_HERE"
  session.encryption.key: "PUT_YOUR_LONG_RANDOM_STRING_HERE"
  storage.encryption.key: "PUT_YOUR_LONG_RANDOM_STRING_HERE"
