---
apiVersion: v1
kind: Secret
metadata:
  name: authelia-secret
  namespace: authelia-system
type: Opaque
stringData:
  identity_validation.reset_password.jwt.hmac.key: "METTRE_UNE_CHAINE_ALÉATOIRE_32_OCTETS"
  session.encryption.key: "METTRE_UNE_CHAINE_ALÉATOIRE_32_OCTETS"
  storage.encryption.key: "METTRE_UNE_CHAINE_ALÉATOIRE_32_OCTETS"
