etcd-expose-metrics: {{ k3s_server_etcd_expose_metrics | lower }}
disable:
{% for component in k3s_server_disabled_components %}
  - {{ component }}
{% endfor %}
tls-san:
  - "{{ vip_ip }}"
kube-apiserver-arg:
  - "oidc-issuer-url=https://auth.smb-111.azby.fr"
  - "oidc-client-id=kubernetes"
  - "oidc-username-claim=preferred_username"
  - "oidc-username-prefix=oidc:"
  - "oidc-groups-claim=groups"
  - "oidc-groups-prefix=oidc:"
