apiVersion: v1
kind: Config
clusters:
  - name: smb-111
    cluster:
      server: https://{{ vip_ip }}:6443
      certificate-authority-data: {{ kubeconfig_local_ca }}
users:
  - name: authelia
    user:
      exec:
        apiVersion: client.authentication.k8s.io/v1beta1
        command: kubectl
        args:
          - oidc-login
          - get-token
          - --oidc-issuer-url={{ kubeconfig_local_oidc_issuer }}
          - --oidc-client-id={{ kubeconfig_local_oidc_client_id }}
          - --oidc-extra-scope=groups
          - --oidc-extra-scope=profile
          - --oidc-extra-scope=email
        interactiveMode: IfAvailable
contexts:
  - name: smb-111-oidc
    context:
      cluster: smb-111
      user: authelia
current-context: smb-111-oidc
