---
apiVersion: v1
kind: Secret
metadata:
  name: ovh-credentials
  namespace: cert-manager-system
type: Opaque
stringData:
  applicationKey: "PUT_YOUR_APP_KEY_HERE"
  applicationSecret: "PUT_YOUR_APP_SECRET_KEY_HERE"
  consumerKey: "PUT_YOUR_CONSUMER_KEY_HERE"

